.whiteSpace {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-base);
  font-weight: 600;
  display: inline-block;
  min-width: 2px;
}
.frameIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.houseIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  max-width: 16px;
}
.inicio {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 46.8px;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 45.83px;
}
.link {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 146px var(--padding-5xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.historial {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 70.8px;
}
.text1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 69.77px;
}
.link1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 122px var(--padding-5xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.plantillas {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 78.2px;
}
.text2 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 77.23px;
}
.link2 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 114px var(--padding-5xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.mdulos {
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 72.6px;
}
.text3 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 71.63px;
}
.link3 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-101xl) var(--padding-5xs)
    var(--padding-5xs);
  gap: var(--gap-5xs);
}
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.herramientas {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: #4b5563;
}
.calendario {
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 91.5px;
}
.text5 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 90.52px;
}
.link4 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 101px var(--padding-5xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.equipo {
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 60px;
}
.text6 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 59.05px;
}
.link5 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 133px var(--padding-5xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.frame1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.margin {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0px 0px;
}
.sidebar {
  flex: 1;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) 564px;
  box-sizing: border-box;
  min-width: 166px;
  max-width: 256px;
}
.gestinDeTiempo {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: var(--font-size-13xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 100%;
}
.bloque {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.text7 {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  min-width: 315px;
  max-width: 100%;
}
.text10 {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 315px;
  max-width: 100%;
  color: var(--color-darkslategray);
}
.div {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input {
  width: 332px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 315px;
  max-width: 100%;
  color: var(--color-darkgray);
}
.total {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text13 {
  width: 332px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-7xs) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 315px;
  max-width: 100%;
}
.grid {
  align-self: stretch;
  height: 360px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-13xl) var(--gap-base);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.content {
  flex: 1;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  min-width: 721px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-montserrat);
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-0);
  max-width: 100%;
  row-gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
.mushoDcshaEscaletaManageme {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    padding-top: var(--padding-xl);
    padding-bottom: 367px;
    box-sizing: border-box;
  }

  .content {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .sidebar {
    padding-bottom: 239px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .gestinDeTiempo {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }

  .text10 {
    flex: 1;
  }

  .input {
    flex: 1;
  }

  .text13 {
    flex: 1;
  }
}