.dcshaEscaleta {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 20px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.copyrightWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 170.97px;
}
.whiteSpace {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-base);
  display: inline-block;
  min-width: 2px;
}
.frameIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.facebookLogoIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
}
.socialIcons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 96px;
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.footer {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}

@media screen and (max-width: 450px) {
  .footer {
    flex-wrap: wrap;
  }
}