.crearEscaleta {
  text-decoration: none;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 32px;
  font-weight: 700;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 179.19px;
}
.whiteSpace {
  align-self: stretch;
  width: 2px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-base);
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  min-width: 2px;
}
.frameIcon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.plusIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  max-width: 16px;
}
.agregarFila {
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 103.5px;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 102.47px;
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 158.47px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.fila {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.gridItem1 {
  flex: 1;
  border-radius: var(--br-5xs) var(--br-5xs) 0px 0px;
  background-color: var(--color-whitesmoke-200);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 1046px;
  max-width: 100%;
}
.input {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 262px;
  max-width: 285px;
}
.entrada {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 18.4px;
  font-weight: 600;
}
.svgIcon {
  height: 12px;
  width: 12px;
  position: absolute;
  margin: 0 !important;
  top: 12.5px;
  left: 271.4px;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown {
  flex: 0.9963;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  position: relative;
  min-width: 65px;
  max-width: 285px;
  color: var(--color-darkslategray);
}
.eliminar {
  text-decoration: none;
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: var(--font-size-5xl);
  font-weight: 600;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 69.8px;
}
.button1 {
  flex: 0.8466;
  border-radius: var(--br-7xs);
  background-color: var(--color-dodgerblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 86px;
  max-width: 125.8px;
  text-align: center;
  color: var(--color-white);
}
.gridItem2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 1046px;
  max-width: 100%;
  color: var(--color-darkgray);
}
.frame2 {
  height: 1px;
  flex: 1;
}
.gridItem3 {
  flex: 1;
  border-radius: 0px 0px var(--br-5xs) var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 1046px;
  max-width: 100%;
}
.grid {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-montserrat);
}

@media screen and (max-width: 1050px) {
  .gridItem1 {
    min-width: 100%;
  }

  .gridItem2 {
    min-width: 100%;
  }

  .gridItem3 {
    min-width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .gridItem2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .crearEscaleta {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }

  .frame1 {
    flex-wrap: wrap;
  }

  .dropdown {
    flex: 1;
  }

  .button1 {
    flex: 1;
  }
}
