.heading {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 900;
}
.imageLummiCategoryavata {
  width: 120px;
  position: relative;
  border-radius: var(--br-29xl);
  height: 120px;
  object-fit: cover;
}
.name {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shortTestimonial {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 140%;
  font-family: var(--font-lato);
}
.testimonial {
  flex: 1;
  border-radius: var(--br-13xl);
  background-color: var(--color-honeydew-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 264px;
  max-width: 360px;
}
.testimonialsGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 1200px;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.property1cardsTestimonials {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-101xl) var(--padding-base);
  gap: var(--gap-21xl);
  z-index: 4;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-playfair-display);
}