.figmaIpsumComponent {
  width: 100%;
  position: relative;
  line-height: 120%;
  font-weight: 900;
  display: inline-block;
  max-width: 800px;
}
.figmaIpsumComponent1 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 130%;
  font-family: var(--font-inter);
  color: var(--color-seagreen);
  display: inline-block;
  max-width: 720px;
}
.cta {
  position: relative;
  line-height: 150%;
}
.textContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.ctaButton {
  border-radius: var(--br-5xs);
  background-color: var(--color-yellowgreen);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-9xl);
  box-sizing: border-box;
}
.buttonCombo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  max-width: 420px;
  font-size: var(--font-size-base);
  color: var(--color-mintcream);
  font-family: var(--font-lato);
}
.textContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.imageLummiIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 600px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.playIcon {
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 44px);
  border-radius: var(--br-99980xl);
  width: 88px;
  height: 88px;
}
.overlay {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-99980xl);
  background-color: var(--color-gray-100);
  z-index: 1;
}
.videoContainer {
  align-self: stretch;
  border-radius: var(--br-29xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 1280px;
}
.typestackedMediumTitleAnd {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-101xl) var(--padding-21xl);
  z-index: 6;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-playfair-display);
}