.heading {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 900;
}
.subheading {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 140%;
  font-family: var(--font-lato);
  color: var(--color-seagreen);
}
.headingContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  min-width: 280px;
  max-width: 512px;
}
.featureGrid {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-21xl);
  min-width: 280px;
  max-width: 1200px;
  font-size: var(--font-size-lg);
  font-family: var(--font-lato);
}
.container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-29xl);
  max-width: 1200px;
}
.typesideBySideImages {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-141xl) var(--padding-base);
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-playfair-display);
}