.figmaIpsumComponent {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 800px;
}
.figmaIpsumComponent1 {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 130%;
  font-weight: 400;
  font-family: var(--font-inter);
  color: var(--color-seagreen);
  display: inline-block;
  max-width: 720px;
}
.cta {
  position: relative;
  line-height: 150%;
}
.textContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-10xs);
}
.ctaButton {
  height: 64px;
  border-radius: var(--br-5xs);
  background-color: var(--color-yellowgreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-9xl);
  box-sizing: border-box;
}
.buttonCombo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  max-width: 420px;
  font-size: var(--font-size-base);
  color: var(--color-mintcream);
  font-family: var(--font-lato);
}
.textContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.imageLummiIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 600px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 0;
}
.playIcon {
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 44px);
  border-radius: var(--br-99980xl);
  width: 88px;
  height: 88px;
}
.overlay {
  width: calc(100% - 80px);
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 80px;
  bottom: 0px;
  left: 0px;
  border-radius: var(--br-99980xl);
  background-color: var(--color-gray-100);
  z-index: 1;
}
.videoContainer {
  align-self: stretch;
  border-radius: var(--br-29xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 1280px;
}
.typestackedMediumTitleAnd {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-101xl) var(--padding-21xl);
  z-index: 6;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-playfair-display);
}

@media screen and (max-width: 1250px) {
  .content {
    gap: var(--gap-13xl);
  }

  .typestackedMediumTitleAnd {
    padding-top: var(--padding-59xl);
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .figmaIpsumComponent {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .figmaIpsumComponent {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }

  .figmaIpsumComponent1 {
    max-width: 100%;
  }

  .content {
    gap: var(--gap-base);
  }

  .typestackedMediumTitleAnd {
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .figmaIpsumComponent {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }

  .figmaIpsumComponent1 {
    font-size: var(--font-size-lg);
    line-height: 23px;
  }

  .buttonCombo {
    max-width: 100%;
  }

  .textContainer {
    gap: var(--gap-xl);
  }
}
