.thisIsA {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 900;
  font-family: inherit;
}
.aMediumLength {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-family: var(--font-lato);
  color: var(--color-seagreen);
}
.bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 640px;
}
.cta {
  position: relative;
  line-height: 160%;
}
.textContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
}
.ctaButton {
  height: 56px;
  border-radius: var(--br-980xl);
  background-color: var(--color-yellowgreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-mintcream);
  font-family: var(--font-lato);
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 400px;
}
.imageLummiIcon {
  align-self: stretch;
  height: 171px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image {
  flex: 1;
  border-radius: var(--br-29xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 160px;
}
.cardsGrid {
  flex: 0.9706;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 365px;
}
.content {
  width: 100%;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-93xl) 0px;
  box-sizing: border-box;
  gap: var(--gap-45xl);
  max-width: 1152px;
}
.typeimageGridTitleDescri {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-5xl);
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-playfair-display);
}

@media screen and (max-width: 1250px) {
  .content {
    gap: var(--gap-13xl);
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .thisIsA {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }

  .bio {
    max-width: 100%;
  }

  .textContainer {
    gap: var(--gap-base);
  }

  .cardsGrid {
    flex: 1;
  }

  .content {
    gap: var(--gap-base);
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .thisIsA {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }

  .textContainer {
    min-width: 100%;
  }
}
