.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 900;
  font-family: inherit;
}
.subheading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-lato);
  color: var(--color-seagreen);
}
.headingContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  min-width: 280px;
  max-width: 512px;
}
.featureGrid {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-21xl);
  min-width: 280px;
  max-width: 1200px;
  font-size: var(--font-size-lg);
  font-family: var(--font-lato);
}
.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-29xl);
  max-width: 1200px;
}
.typesideBySideImages {
  align-self: stretch;
  background-color: var(--color-mintcream);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-141xl) var(--padding-base);
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-playfair-display);
}

@media screen and (max-width: 1250px) {
  .featureGrid {
    max-width: 100%;
  }

  .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .heading {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }

  .headingContainer {
    max-width: 100%;
  }

  .featureGrid {
    gap: var(--gap-xl);
    max-width: 100%;
  }

  .container {
    gap: var(--gap-5xl);
  }

  .typesideBySideImages {
    gap: var(--gap-xl);
    padding-top: var(--padding-85xl);
    padding-bottom: var(--padding-85xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }

  .subheading {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
}
