.vistaRegstrate {
  background-color: #ecfdf5; /* Fondo verde claro */
  min-height: 100vh;
  padding: 20px;
}

.logo {
  width: 80px;
  height: auto;
}

.brandname {
  font-family: "Helvetica Rounded LT Std", sans-serif; /* Fuente correcta */
  font-weight: bold; /* Negrita */
  color: #064e3b; /* Color del texto */
  display: flex; /* Asegura que las palabras estén en línea */
  justify-content: center; /* Centra el texto */
  align-items: center; /* Alinea verticalmente las palabras */
  gap: 5px; /* Espaciado entre las palabras */
}

.brandname .veterinaria {
  font-size: 14px; /* Tamaño para "Veterinaria" */
  line-height: 1; /* Asegura que el texto esté alineado verticalmente */
  margin-top: 8px; /* Baja el texto de "Veterinaria" */
}

.brandname .mascohogar {
  font-size: 32px; /* Tamaño para "MascoHogar" */
  line-height: 1; /* Asegura que el texto esté alineado verticalmente */
  color: #064e3b; /* Corrige el color */
}

.formContainer {
  background-color: transparent; /* Hace el contenedor transparente */
  border: 2px solid #064e3b; /* Borde de color verde oscuro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
}

.customFormLabel {
  font-family: "Manrope", sans-serif; /* Fuente Manrope */
  font-weight: 600; /* SemiBold */
  font-size: 14px; /* Tamaño de fuente */
  color: #65a30d; /* Color del texto */
}

.mascohogar {
  color: #65a30d;
}

.title {
  font-family: "Playfair Display", serif; /* Fuente Playfair Display */
  font-weight: 900; /* Black */
  font-size: 32px; /* Tamaño de fuente */
  color: #064e3b; /* Color del texto */
  margin-top: 10px;
}
.sectionTitle {
  font-family: "Lato", sans-serif; /* Fuente Lato */
  font-weight: 600; /* SemiBold */
  font-size: 20px; /* Tamaño de fuente */
  color: #064e3b; /* Color del texto */
  margin-bottom: 15px;
}

.customFormLabel {
  font-family: "Manrope", sans-serif; /* Fuente Manrope */
  font-weight: 600; /* SemiBold */
  font-size: 14px; /* Tamaño de fuente */
  color: #65a30d; /* Color del texto */
}

.customButton {
  font-family: "Inter", sans-serif; /* Fuente Inter */
  font-weight: 400; /* Regular */
  font-size: 16px; /* Tamaño de fuente */
  color: #ffffff; /* Color del texto */
  background-color: #65a30d; /* Color de fondo */
  border: none; /* Sin borde */
  padding: 10px 40px; /* Espaciado interno */
  border-radius: 20px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar */
}

.customButton:hover {
  background-color: #558a25; /* Color más oscuro al pasar el cursor */
}

/* Estilos para vistas de celular */
@media (max-width: 576px) {
  .customButton {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    padding: 8px 30px; /* Reducir el padding */
  }
}

.registerText {
  font-family: "Inter", sans-serif; /* Fuente Inter */
  font-size: 14px;
  color: #064e3b;
  margin-bottom: 0; /* Elimina el margen inferior */
}

.loginLink {
  font-family: "Inter", sans-serif; /* Fuente Inter */
  font-weight: bold; /* Negrita */
  font-size: 11px; /* Tamaño de fuente */
  color: #65A30D; /* Color del enlace */
  text-decoration: none; /* Elimina el subrayado */
}

.loginLink:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
}

input::placeholder, 
textarea::placeholder {
  font-family: "Lato", sans-serif; /* Fuente Lato */
  font-weight: 600; /* SemiBold */
  font-size: 14px; /* Tamaño de fuente */
  color: rgba(31, 31, 31, 0.05); /* Color con mayor transparencia */
}

input, 
textarea, 
select {
  border: 2px solid #064e3b; /* Borde de color verde oscuro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 15px 10px; /* Aumenta el padding vertical para hacerlas más gruesas */
  min-height: 50px; /* Asegura que las celdas sean más altas */
  width: 100%; /* Asegura que sean más anchas */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  font-family: "Lato", sans-serif; /* Fuente Lato */
  font-size: 14px; /* Tamaño de fuente */
}